<div
  class="relative border border-gray-100 p-2 rounded-lg overflow-hidden group hover:shadow-lg transition-all duration-200">
  <!-- Product image -->
  <div class="relative rounded-lg overflow-hidden">
    <img
      [alt]="product.name"
      [src]="product.thumbnailUrl"
      class="w-full h-28 sm:h-32 md:h-36 object-cover rounded-lg"
    />

    <!-- Hover icons -->
    <div
      class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition bg-black bg-opacity-20 rounded-lg"
    >
      <button
        (click)="addToWishlist(product)"
        class="p-2 bg-white rounded-full shadow hover:scale-110 transition"
      >
        <fa-icon [icon]="faHeart" class="text-xs"></fa-icon>
      </button>
      <button
        (click)="addToCart(product)"
        class="p-2 bg-white rounded-full shadow hover:scale-110 transition"
      >
        <fa-icon [icon]="faCartPlus" class="text-xs"></fa-icon>
      </button>
      <button
        (click)="viewDetail(product)"
        class="p-2 bg-orange-600 text-white rounded-full shadow hover:scale-110 transition"
      >
        <fa-icon [icon]="faEye" class="text-xs"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Product info -->
  <div class="mt-1 flex items-center gap-3">
    <!-- Wrap nz-rate vào 1 div để căn giữa -->
    <div class="flex items-center h-3">
      <nz-rate
        [ngModel]="+product.score"
        [nzDisabled]="true"
        nzAllowHalf
      ></nz-rate>
    </div>
    <span class="text-gray-500 text-[10px] leading-3 mt-2.5">({{ product.user }})</span>
  </div>


  <!-- Product name -->
  <h3 class="mt-1 font-semibold text-xs sm:text-sm line-clamp-2 break-words h-10">
    {{ product.name }}
  </h3>

  <!-- Product price -->
  <p class="text-blue-600 font-semibold mt-1 text-xs sm:text-sm">
    {{ product.price | currency:'VND':'symbol':'1.0-0' }}
  </p>
</div>
