<div class="grid grid-cols-4 gap-10">
  <!-- left-->
  <aside class="space-y-6 col-span-1">
    <!--category-->
    <div class=" border-b border-gray-200 pb-3">
      <h3 class="font-medium text-base mb-2">CATEGORY</h3>
      <div class="space-y-1 flex flex-col">
        <div (click)="toggleCategory(cate.id)"
             *ngFor="let cate of categories"
             class="flex items-center  cursor-pointer gap-2"
        >
          <input
            [checked]="selectedCategoryId === cate.id"
            class="radio-orange"
            name="category"
            type="radio"
          />
          <span
            [ngClass]="{
            'text-black font-medium': selectedCategoryId === cate.id,
            'text-gray-700': selectedCategoryId !== cate.id
          }"
          >
          {{ cate.name }}
        </span>
        </div>
      </div>
    </div>

    <!--    price-->
    <div class="border-b border-gray-200 pb-3 space-y-2">
      <h3 class="font-medium text-base">PRICE RANGE</h3>
      <!-- Hiển thị giá trị hiện tại -->
      <div *ngIf="priceRange">
        <div class="flex items-center gap-2">
          <label class="text-gray-700">Min:</label>
          <nz-input-number
            (ngModelChange)="onMinInputChange($event)"
            [(ngModel)]="priceRange[0]"
            [nzMax]="priceRange[1]"
            [nzMin]="0"
            [nzStep]="1"
            class="w-24"
          ></nz-input-number>

          <label class="text-gray-700">Max:</label>
          <nz-input-number
            (ngModelChange)="onMaxInputChange($event)"
            [(ngModel)]="priceRange[1]"
            [nzMax]="1000000000"
            [nzMin]="priceRange[0]"
            [nzStep]="1"
            class="w-24"
          ></nz-input-number>
        </div>
      </div>

      <!-- Slider 2 đầu -->
      <nz-slider
        [(ngModel)]="priceRange"
        [nzMax]="1000"
        [nzMin]="0"
        [nzRange]="true"
        [nzStep]="1"
        [nzTipFormatter]="tooltipFormatter"
        nzTooltipPlacement="top"
      ></nz-slider>
    </div>

    <!--brand-->
    <div class="border-b border-gray-200 pb-3 space-y-2">
      <h3 class="font-medium text-base">POPULAR BRANDS</h3>
      <div class="grid grid-cols-2 gap-2">
        <label
          *ngFor="let brand of brands"
          class="flex items-center gap-2 cursor-pointer text-gray-700"
        >
          <input
            (change)="toggleBrand(brand.id)"
            [checked]="selectedBrandIds.includes(brand.id)"
            class="w-4 h-4 accent-orange-500"
            type="checkbox"
          />
          {{ brand.name }}
        </label>
      </div>
    </div>

    <!-- SCORE -->
    <div class="border-b border-gray-200 pb-3 space-y-2">
      <h3 class="font-medium text-base">SCORE</h3>

      <div class="flex flex-col space-y-2">
        <label
          *ngFor="let star of [5,4,3,2,1]"
          [ngClass]="{'bg-gray-100': ratingFrom === star}"
          class="flex items-center gap-3 p-2 rounded cursor-pointer hover:bg-gray-100 transition-colors"
        >
          <!-- radio ẩn, chỉ để binding -->
          <input
            [(ngModel)]="ratingFrom"
            [value]="star"
            class="hidden"
            type="radio"
          />
          <nz-rate
            (click)="ratingFrom = star; search()"
            [ngModel]="star"
            [nzAllowHalf]="false"
            [nzCount]="5"
            [nzDisabled]="true"
          ></nz-rate>

          <!-- Text "trở lên" -->
          <span *ngIf="star !== 5" class="text-gray-700 text-sm">trở lên</span>
        </label>
      </div>
    </div>
  </aside>

  <!-- right -->
  <section class=" col-span-3 gap-3">

    <!--    header-->
    <div class="flex justify-between items-center gap-3 mb-4">
      <!--    search-->
      <!--      <div class="w-2/5">-->
      <!--        <label class="relative border border-gray-200 flex items-center gap-2 rounded overflow-hidden">-->
      <!--          <input-->
      <!--            (input)="onSearchInput($event)"-->
      <!--            class="w-full p-2 outline-none"-->
      <!--            placeholder="Search products name..."-->
      <!--            type="search"-->
      <!--          >-->
      <!--          <fa-icon [icon]="faSearch" class="text-gray-500 right-2 absolute"></fa-icon>-->
      <!--        </label>-->
      <!--      </div>-->

      <!--      sort by-->
      <!-- Sort by -->
      <div class="flex items-center gap-2">
        <label class="text-gray-500">Sort by:</label>

        <select
          (change)="onSortChange($event)"
          [(ngModel)]="selectedSort"
          class="border border-gray-300 rounded p-2 outline-none"
        >
          <option value="name">Name</option>
          <option value="price">Price</option>
          <option value="score">Rating</option>
        </select>

        <!-- Nút đổi chiều sort -->
        <button
          (click)="toggleSortOrder()"
          class="text-gray-500 hover:text-orange-500 transition"
          title="Đổi chiều sắp xếp"
        >
          {{ sortOrder === 'asc' ? '↑' : '↓' }}
        </button>
      </div>
    </div>

    <!--    sản phẩm-->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3">
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
        viewMode="page"
      >
      </app-product-card>
    </div>
  </section>
</div>

