<header>
  <div class="top-bar">
    <div class="store-name">Store Location</div>
    <div class="login">
      <a href="#">Sign In</a> / <a href="#">Sign Up</a>
    </div>
  </div>

  <div class="main-header">
    <input placeholder="Search" type="text">
    <button type="button">Search</button>
  </div>

  <div class="cart">
    <a href="#">
      <span class="heart-icon">❤️</span>
      <span>Wishlist</span>
    </a>

    <a class="cart-icon" href="#">
      <span>Shopping Cart</span>
      <span class="cart-count">${{ cartTotal }}</span>
    </a>
  </div>

  <nav class="nav-bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
    <div class="phone-contact">
      <span>☎ 0866372928</span>
    </div>
  </nav>
</header>
