<div class="container mx-auto grid grid-cols-12 gap-6 py-6">
  <!-- Giỏ hàng -->
  <section class="col-span-12 lg:col-span-8">
    <app-cart-detail
      (selectedItemsChange)="setSelectedItems($event)"
      (selectedSubtotal)="setTotal($event)"
      [cartItems]="cartItems"
      [cart]="cart"
    ></app-cart-detail>

  </section>

  <!-- Thanh toán -->
  <div class="col-span-12 lg:col-span-4 flex flex-col gap-6">
    <app-cart-total
      (orderCreated)="onOrderCreated()"
      [items]="selectedItems"
      [subTotal]="subtotal"
    ></app-cart-total>
  </div>
</div>

<app-toast></app-toast>
