<nav class="bg-[#070B1D] text-white flex items-center justify-between px-6 shadow-md h-14">
  <!-- Left -->
  <div class="flex items-center justify-center gap-2">
    <!-- Search box -->
    <div class="relative">
      <fa-icon [icon]="search" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></fa-icon>
      <input
        class="bg-[#070B1D] text-white rounded-md py-1.5 px-3 pl-9 w-64 focus:outline-none focus:ring focus:ring-blue-500"
        placeholder="Search..."
        type="text"
      />
    </div>
  </div>

  <!-- Icons + User -->
  <div class="flex items-center gap-6">
    <!-- Chat or Message -->
    <button class="text-lg hover:text-blue-400 ">
      <fa-icon [icon]="message" class="text-gray-400"></fa-icon>
    </button>

    <!-- Notifications -->
    <button class="text-lg hover:text-blue-400">
      <fa-icon [icon]="notification" class="text-gray-400"></fa-icon>
    </button>

    <!-- User Avatar -->
    <div *ngIf="user" class="flex items-center gap-2 group relative">
      <button (click)="toggleDropdown()" class="flex items-center gap-2 focus:outline-none">
        <div
          [ngClass]="user.avatar ? '' : 'bg-blue-500 text-white'"
          class=" text-white w-8 h-8 rounded-full flex items-center justify-center text-sm font-bold"
        >
          <div class="w-8 h-8 relative rounded-full overflow-hidden">
            <img
              *ngIf="user.avatar"
              [ngSrc]="user.avatar"
              alt="avatar"
              class="object-cover"
              fill
            />
            <span *ngIf="!user.avatar"
                  class="absolute inset-0 flex items-center justify-center bg-blue-500 text-white font-bold text-sm"
            >
                  {{ user.fullName.charAt(0) }}
            </span>
          </div>
        </div>
        <span class="text-sm">{{ user.fullName }}</span>


        <fa-icon [icon]="down" class="text-xs"></fa-icon>
      </button>

      <div
        *ngIf="dropdownOpen"
        class="absolute right-0 top-10 bg-white text-black rounded shadow-md w-32 z-50 animate-fade-in"
      >
        <button
          (click)="logout()"
          class="block w-full text-left px-4 py-2 hover:bg-gray-100"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
