<h2 class="text-center text-2xl font-bold mb-4">Shop With Category</h2>

<div class="relative">
  <!-- Nút trái -->
  <button
    (click)="scrollLeft()"
    class="absolute left-0 top-1/2 -translate-y-1/2 bg-orange-500 shadow rounded-full p-2 z-10 w-8 h-8 flex items-center justify-center"
  >
    <fa-icon [icon]="faArrowLeft" class="text-white"></fa-icon>
  </button>

  <!-- Container scroll -->
  <div
    #scrollContainer
    class="flex overflow-x-auto gap-4 scrollbar-hide px-10 snap-mandatory"
  >
    <div
      *ngFor="let cat of categories"
      class="flex-shrink-0 w-40 p-4 bg-white rounded border text-center border-gray-300"
    >
      <img
        [alt]="cat.name"
        [src]="cat.image"
        class="mx-auto mb-2 h-24 object-contain"
      />
      <p class="font-semibold">{{ cat.name }}</p>
    </div>
  </div>

  <!-- Nút phải -->
  <button
    (click)="scrollRight()"
    class="absolute right-0 top-1/2 -translate-y-1/2 bg-orange-500 shadow rounded-full p-2 z-10 w-8 h-8 flex items-center justify-center"
  >
    <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
  </button>
</div>
