<div class="relative">
  <!--header-->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Sản phẩm</h1>
    <div class="flex gap-2">
      <button class="bg-white text-blue-500 border px-4 py-2 rounded">
        <fa-icon [icon]="faFileExport"></fa-icon>
        <span class="ml-2">Xuất file</span>
      </button>
      <button
        class="bg-blue-600 text-white border px-4 py-2 rounded"
        routerLink="/admin/product/create"
        type="button"
      >
        <fa-icon [icon]="faAdd"></fa-icon>
        <span class="ml-2">Thêm sản phẩm</span>
      </button>
    </div>
  </div>

  <div class="border rounded-xl bg-white shadow p-6">
    <div class="flex justify-between items-center mb-4 mt-4">
      <div class="relative w-1/2">
        <fa-icon [icon]="search" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></fa-icon>
        <input
          (input)="searchProduct($event)"
          [(ngModel)]="searchTerm"
          class="border rounded-md py-1.5 px-3 pl-9 w-64 focus:outline-none focus:ring focus:ring-blue-500"
          placeholder="Tìm kiếm..."
          type="text"
        />
      </div>

      <button
        (click)="deleteProduct(); isConfirmOpen = true"
        *ngIf="selectionService.selectedItems.length > 0"
        class="text-red-600 px-4 py-2 rounded ml-2"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>

    <div class="overflow-x-auto overflow-y-hidden">
      <table class="text-left w-full">
        <thead>
        <tr class="border-gray-400 text-gray-600 items-center text-base font-medium border-b ">
          <th class="transform scale-125 text-center px-2">
            <input
              (change)="onCheckboxAll($event)"
              [checked]="selectionService.isAllSelected"
              type="checkbox"
            />
          </th>
          <th class="p-3">Tên sản phẩm</th>
          <th class="p-3 text-center">Số lượng</th>
          <th class="p-3">Giá</th>
          <th class="p-3">Thương hiệu</th>
          <th class="flex p-3 bg-gray-50 sticky right-0 z-10 border-l border-gray-200 items-center justify-center">
            Thao tác
          </th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngIf="!isLoading && products.length > 0; else noData">
          <tr (click)="openProductDetail(product)"
              *ngFor="let product of products"
              class="border-b border-gray-200"
          >
            <th class="transform scale-125 text-center px-2">
              <input
                (change)="onCheckbox(product.id, $event)"
                [checked]="selectionService.selectedItems.includes(product.id)"
                type="checkbox"
              />
            </th>
            <td class="p-3 flex items-center gap-2">
              <img
                [src]="product.thumbnailUrl"
                alt="Ảnh"
                class="w-8 h-8 object-cover"
              />
              <div class="flex flex-col">
              <span
                class="font-medium line-clamp-2 max-w-xs">{{ product.name }}</span>
                <span class="text-gray-500 text-sm">{{ product.categoryName }}</span>
              </div>
            </td>
            <td class="p-3 text-center">{{ product.quantity }}</td>
            <td class="p-3">{{ product.price }}</td>
            <td class="p-3">
              <ng-container *ngIf="product.brand; else noBrand">{{ product.brand.name }}</ng-container>
              <ng-template #noBrand></ng-template>
            </td>

            <td class="p-3 sticky right-0 bg-gray-50 border-l border-gray-200 z-10 text-center">
              <div class="flex justify-center items-center gap-3">
                <button
                  [routerLink]="['/admin/product/update', product.id]"
                  class="text-blue-500 hover:text-blue-600"
                  type="button"
                >
                  <fa-icon [icon]="faEdit" title="Chỉnh sửa"></fa-icon>
                </button>

                <button
                  (click)="openQuantityModal(product)"
                  class="text-blue-500 hover:text-blue-600"
                  type="button"
                >
                  <fa-icon [icon]="faWarehouse" title="Thêm số lượng"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td class="text-center text-gray-500 py-4" colspan="8">
              Không có dữ liệu
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>

    <app-page
      (pageChange)="loadProduct($event.page)"
      (pageSizeChange)="onPageSizeChange($event)"
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [pageSizes]="pageSizes"
      [totalItems]="totalItems"
    ></app-page>
  </div>

  <div
    *ngIf="isQuantityModalOpen"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white p-6 rounded-xl w-96">
      <h2 class="text-xl font-bold mb-4">Cập nhật số lượng: {{ selectedProduct?.name }}</h2>

      <div class="mb-4">
        <label class="block mb-1">Số lượng thêm:</label>
        <input
          #quantityInput
          (keyup.enter)="updateQuantity()"
          [(ngModel)]="addQuantity"
          class="w-full border px-3 py-2 rounded"
          min="1"
          placeholder="0"
          type="number"
        />
      </div>

      <div class="flex justify-end gap-2">
        <button
          (click)="closeQuantityModal()"
          class="px-4 py-2 rounded bg-gray-300 hover:bg-gray-400"
        >
          Hủy
        </button>
        <button
          (click)="updateQuantity()"
          class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
        >
          Cập nhật
        </button>
      </div>
    </div>
  </div>

  <app-toast></app-toast>
  <div *ngIf="isLoading" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <app-loading-spinner [show]="true"></app-loading-spinner>
  </div>


  <!-- Overlay -->
  <div
    (click)="closeModal()"
    *ngIf="isModalOpen"
    class="fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-end"
  >
    <!-- Sidebar -->
    <div
      (click)="$event.stopPropagation()"
      [ngClass]="isModalOpen ? 'translate-x-0' : 'translate-x-full'"
      class="bg-white w-[500px] h-full flex flex-col shadow-xl transform transition-transform duration-300"
    >
      <!-- Header -->
      <div class="flex items-center justify-between px-6 py-4 border-b bg-gray-50">
        <h2 class="text-xl font-semibold truncate">
          {{ selectedProduct?.name }}
        </h2>
        <button
          (click)="closeModal()"
          class="text-gray-500 hover:text-black text-xl"
        >
          ✕
        </button>
      </div>

      <!-- Body (scroll được nếu dài) -->
      <div class="flex-1 overflow-y-auto px-6 py-4 space-y-4">
        <img
          [src]="selectedProduct?.imageUrls"
          alt="Ảnh sản phẩm"
          class="w-full h-64 object-cover rounded-lg shadow"
        />

        <div>
          <p class="text-lg font-bold text-blue-600">
            {{ selectedProduct?.price | currency:'VND' }}
          </p>
          <p class="text-gray-600 mt-2">
            {{ selectedProduct?.description || 'Không có mô tả' }}
          </p>
        </div>

        <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
          <div>
            <span class="font-medium">Mã SKU:</span>
            <p>{{ selectedProduct?.skuCode }}</p>
          </div>
          <div>
            <span class="font-medium">Thương hiệu:</span>
            <p>{{ selectedProduct?.brand?.name || 'Chưa có' }}</p>
          </div>
          <div>
            <span class="font-medium">Danh mục:</span>
            <p>{{ selectedProduct?.categoryName }}</p>
          </div>
          <div>
            <span class="font-medium">Số lượng:</span>
            <p>{{ selectedProduct?.quantity }}</p>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex justify-end items-center border-t px-6 py-4 bg-gray-50">
        <a
          [routerLink]="['/admin/product/update', selectedProduct?.id]"
          class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg"
        >
          Chỉnh sửa
        </a>
      </div>
    </div>
  </div>
</div>
