<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="bg-white border border-blue-300 rounded-lg p-8 w-full max-w-md shadow-md">
    <h1 class="font-bold text-2xl text-center text-gray-900">Confirm Email</h1>
    <p class="text-center text-gray-600 mt-1 text-sm">Check Your Email and Enter Confirmation Code</p>

    <form class="mt-8 space-y-4">
      <div>
        <label class="text-sm block font-medium text-gray-500" for="code">Confirmation Code</label>
        <input
          [(ngModel)]="code"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          id="code"
          name="code"
          placeholder="Enter Code"
          required
          type="text"
        >
      </div>

      <button
        class="w-full bg-indigo-950 text-white font-semibold py-2 rounded-md hover:bg-indigo-800 transition duration-300">
        <a href="#">Confirm Email</a>
      </button>
    </form>

    <div class="mt-9">
      <hr class="my-5 border-gray-300">
      <span class="block text-gray-500 text-center ">Haven't received your code?</span>
    </div>

    <button
      class="w-full mt-5 border border-gray-400 px-4 py-2 bg-white text-blue-700 font-semibold rounded-md hover:bg-gray-200 transition duration-300">
      <a href="#">Resend Code</a>
    </button>
  </div>
</div>
