<!--header-->
<header class="bg-gray-100 border-gray-200 p-2">
  <button class="text-gray-500 flex items-center hover:text-gray-700" type="button">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    <span (click)="goBack()" class="ml-2">Quay lại</span>
  </button>
</header>

<!--main-->
<div class="grid lg:grid-cols-3 gap-4 mb-6">
  <!-- sản phẩm -->
  <div class="lg:col-span-2 bg-white rounded-lg shadow p-4 flex flex-col">

    <button
      [queryParams]="{ categoryId: categoryId }"
      [routerLink]="['/admin/product/create']"
      class="bg-white text-blue-600 border px-4 py-2 rounded"
      type="button"
    >
      <fa-icon [icon]="faAdd"></fa-icon>
      <span class="ml-2">Thêm Sản Phẩm</span>
    </button>

    <div
      *ngFor="let product of products"
      class="bg-white rounded-lg shadow cursor-pointer mt-3 flex items-center gap-2 items-justify"
    >
      <img
        [ngSrc]="product.image"
        alt="Ảnh"
        class="object-cover ml-3 h-12 w-12"
        height="48"
        width="48"
      />
      <span class="block overflow-hidden whitespace-nowrap text-ellipsis max-w-xs">{{ product.name }}</span>
    </div>

    <app-page
      (pageChange)="loadProductsByCategory($event.page)"
      (pageSizeChange)="onPageSizeChange($event)"
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [pageSizes]="pageSizes"
      [totalItems]="totalItems"
    ></app-page>
  </div>

  <!-- danh mục -->
  <form #form="ngForm" #formRef (ngSubmit)="updateProduct(form)" class="space-y-6">

    <!-- hiển thị danh mục -->
    <div class="bg-white p-4 rounded-xl shadow ">
      <h2 class="font-semibold mb-4">Hiển Thị Danh Mục</h2>
      <label class="relative inline-flex items-center cursor-pointer">
        <input
          [(ngModel)]="isVisible"
          class="sr-only peer"
          name="isVisible"
          type="checkbox"
        >
        <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:bg-blue-600
              after:content-[''] after:absolute after:top-0.5 after:left-[2px]
              after:bg-white after:border-gray-300 after:border after:rounded-full
              after:h-5 after:w-5 after:transition-all peer-checked:after:translate-x-full">
        </div>
      </label>
    </div>

    <!-- thông tin danh mục -->
    <div class="bg-white p-4 rounded-xl shadow flex flex-col gap-2">
      <h2 class="font-semibold mb-4">Thông Tin Danh Mục</h2>
      <div class="">
        <label class="text-gray-600 label-required block font-medium" for="name">
          Tên Danh Mục
        </label>
        <input
          [(ngModel)]="categoryName"
          class="border px-4 py-2 rounded-md mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
          id="name"
          name="name"
          placeholder="Nhập tên danh mục"
          type="text"
        />
      </div>
      <div class="relative">
        <span class="text-gray-600 label-required block font-medium">
          Danh mục cha
        </span>
        <button
          (click)="isOpen = !isOpen"
          class="w-full mt-1 flex justify-between items-center border px-4 py-2 rounded-md bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="button"
        >
          {{ selectedCategory?.name || '-- Không có --' }}
          <svg class="w-5 h-5 text-gray-500" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </button>

        <!-- danh sách dropdown -->
        <ul *ngIf="isOpen"
            class="absolute w-full mt-2 bg-white border rounded-md shadow-lg max-h-60 overflow-y-auto z-10">
          <li
            (click)="selectCategory(null)"
            class="px-4 py-2 hover:bg-blue-100 cursor-pointer rounded-md"
          >
            -- Không có --
          </li>
          <li
            (click)="selectCategory(category)"
            *ngFor="let category of categories"
            class="px-4 py-2 hover:bg-blue-100 cursor-pointer rounded-md"
          >
            {{ category.name }}
          </li>
        </ul>
      </div>

      <!-- Hình ảnh -->
      <div class="border-gray-300 pb-7">
        <h2 class="font-semibold mb-2">Hình Ảnh</h2>

        <!-- Upload zone (chỉ hiển thị khi chưa có ảnh) -->
        <div
          *ngIf="!image"
          class="border-2 border-dashed border-gray-300 rounded-md flex flex-col justify-center items-center space-y-2 h-40"
        >
          <label
            class="bg-white text-blue-600 border rounded px-4 py-2 font-medium hover:bg-gray-100 cursor-pointer"
            for="images"
          >
            Thêm tệp
          </label>
          <input
            (change)="onFileSelected($event)"
            accept="image/*"
            hidden
            id="images"
            multiple
            name="images"
            type="file"
          />
          <p class="text-sm text-gray-500">Hoặc kéo và thả tệp vào đây</p>
        </div>

        <!-- Preview -->
        <div *ngIf="image" class="mt-4 relative group w-40 aspect-square">
          <img
            [src]="image.src"
            alt="Xem trước"
            class="w-full h-full object-cover rounded-md border shadow"
          />
          <!-- Overlay hover -->
          <div
            class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition flex items-center justify-center gap-2 rounded-md"
          >
            <!-- Thay ảnh -->
            <label
              class="bg-white text-blue-600 w-8 h-8 rounded-full cursor-pointer hover:scale-110 transition flex items-center justify-center"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
              <input
                (change)="onFileSelected($event)"
                accept="image/*"
                hidden
                type="file"
              />
            </label>

            <!-- Xoá ảnh -->
            <button
              (click)="removeImage()"
              class="bg-white text-red-500 p-2 w-8 h-8 rounded-full hover:scale-110 transition flex items-center justify-center"
              type="button"
            >
              <fa-icon [icon]="faClose"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-2 justify-end">
      <button class="bg-white text-red-600 border px-4 py-2 rounded" type="button">
        <fa-icon [icon]="faClose"></fa-icon>
        <span (click)="goBack()" class="ml-2">Hủy</span>
      </button>
      <button
        [disabled]="isLoading"
        class="bg-blue-600 text-white border px-4 py-2 rounded"
        type="submit"
      >
        <fa-icon [icon]="faSave"></fa-icon>
        <span class="ml-2">Lưu</span>
      </button>
    </div>
  </form>
</div>

<app-toast></app-toast>
