@tailwind base;
@tailwind components;
@tailwind utilities;

.label-required::after {
  content: ' *';
  color: red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ẩn cho Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.custom-modal.ant-modal {
  @apply flex items-center justify-center;
  /* Tailwind: căn giữa cả ngang và dọc */
}

.custom-modal.ant-modal-content {
  @apply max-h-[90vh] overflow-auto;
  /* giới hạn chiều cao, scroll nếu vượt */
}
