/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.label-required::after {
  content: ' *';
  color: red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ẩn cho Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
