<header class="bg-sky-700 text-gray-50">
  <!--  top bar-->
  <div class="container mx-auto px-4 p-1">
    <div class="flex flex-row justify-between items-center text-sm">
      <span>Welcome to Ezone online eCommerce store</span>
      <div class="flex items-center gap-3">
        <span class="text-sm">Follow us:</span>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faPinterest"></fa-icon>
        <fa-icon [icon]="faReddit"></fa-icon>
        <fa-icon [icon]="faYoutube"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
      </div>
    </div>
  </div>
  <hr class="border-gray-400 border-t-[0.5px]">
  <!--  search-->
  <div class="container mx-auto px-4 py-2 flex items-center justify-between">

    <button
      [routerLink]="['/user/']"
      class="text-gray-50 font-bold text-xl"
      type="button">EZONE
    </button>

    <div class="relative flex-1 max-w-md mx-4">
      <input
        class="rounded-md w-full py-2 px-3 pl-10 focus:outline-none focus:ring focus:ring-blue-500 text-sm"
        placeholder="Search..."
        type="text"
      />
      <fa-icon [icon]="search" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></fa-icon>
    </div>
    <div class="flex items-center gap-4 text-gray-50">
      <fa-icon [icon]="faCartShopping" class="cursor-pointer hover:text-gray-300"></fa-icon>
      <fa-icon [icon]="faHeart" class="cursor-pointer hover:text-gray-300"></fa-icon>
      <fa-icon [icon]="faUser " class="cursor-pointer hover:text-gray-300"></fa-icon>
    </div>
  </div>
</header>
<!--  navbar-->
<nav class="bg-white shadow-sm">
  <div class="container px-4 mx-auto py-2 flex items-center justify-between text-gray-600">
    <div class="flex items-center gap-6 text-sm">
      <app-all-category [categories]="categories"></app-all-category>
      <button class="flex gap-1">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        Track Order
      </button>
      <button class="flex gap-1">
        <fa-icon [icon]="faRotate"></fa-icon>
        Compare
      </button>
      <button class="flex gap-1">
        <fa-icon [icon]="faHeadset"></fa-icon>
        Customer Support
      </button>
      <button class="flex gap-1">
        <fa-icon [icon]="faCircleInfo"></fa-icon>
        Need Help
      </button>
    </div>

    <div class="flex items-center gap-1 text-sm font-medium">
      <fa-icon [icon]="faPhoneVolume"></fa-icon>
      <span>+84-987-654-321</span>
    </div>
  </div>
</nav>
