<div class="flex justify-between items-center">
  <h2 class="font-bold text-xl">Sản phẩm nổi bật</h2>

  <div class="flex text-sm items-center gap-3">
    <!-- Tất cả sản phẩm -->
    <button
      (click)="selectCategory(-1)"
      [ngClass]="{
        'border-b-2 border-orange-500': selectedCategory === -1
      }"
      class="font-semibold pb-1"
    >
      Tất cả sản phẩm
    </button>

    <!-- Danh mục -->
    <div class="flex gap-3">
      <div
        (click)="selectCategory(cate.id)"
        *ngFor="let cate of categories | slice:0:4"
        [ngClass]="{
          'border-b-2 border-orange-500': selectedCategory === cate.id
        }"
        class="pb-1"
      >
        <button>{{ cate.name }}</button>
      </div>
    </div>

    <!-- Xem tất cả -->
    <div class="flex gap-2 pb-1 text-orange-500 cursor-pointer">
      <button>Xem tất cả sản phẩm</button>
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>
  </div>
</div>

<!-- danh sách sản phẩm -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
  <app-product-card
    *ngFor="let product of displayedProducts | slice:0:8"
    [product]="product"
    viewMode="modal"
  ></app-product-card>
</div>
