<!--header-->
<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">Categories</h1>
  <div class="flex gap-2">
    <button
      [routerLink]="['/admin/category/create']"
      class="bg-blue-600 text-white border px-4 py-2 rounded"
      type="button"
    >
      <fa-icon [icon]="faAdd"></fa-icon>
      <span class="ml-2">Add Category</span>
    </button>
  </div>
</div>
<!--main-->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
  <div
    *ngFor="let category of categories"
    [routerLink]="['/admin/category/detail',category.id]"
    class="bg-white rounded-lg shadow cursor-pointer transition hover:shadow-lg"
  >
    <div class="w-full h-48 overflow-hidden relative">
      <img
        [ngSrc]="category.image"
        alt="{{ category.name }}"
        class="w-full h-full object-cover transform hover:scale-105 transition"
        fill
      >
    </div>
    <div class="gap-2 m-3">
      <h2 class="text-lg font-semibold text-gray-800 truncate">{{ category.name }}</h2>
      <a class="text-sm text-gray-500">{{ category.productCount }}</a>
    </div>
  </div>
</div>
