<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="bg-white border border-blue-300 rounded-lg p-8 w-full max-w-md shadow-md">
    <h1 class="text-2xl font-bold text-center text-gray-800">Tạo tài khoản</h1>
    <p class="text-center text-gray-600 text-sm mt-2">
      Đã có tài khoản?
      <a [routerLink]="['/auth/login']" class="text-blue-600 hover:underline">Đăng nhập</a>
    </p>

    <form #form="ngForm" #formRef (ngSubmit)="register(form)" class="mt-8 space-y-4">
      <!-- Họ và tên -->
      <div>
        <label class="block text-sm font-medium text-gray-700 label-required" for="fullName">Họ và Tên</label>
        <input
          #fullNameRef="ngModel"
          [(ngModel)]="fullName"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          id="fullName"
          name="fullName"
          placeholder="Nhập họ và tên"
          required
          type="text"
        />
        <div *ngIf="fullNameRef.invalid && fullNameRef.touched" class="text-red-600 text-sm mt-1 ">
          <div *ngIf="fullNameRef.errors?.['required']">Vui lòng nhập Họ và Tên để tiếp tục.</div>
        </div>
      </div>
      <!-- Tên đăng nhập -->
      <div>
        <label class="block text-sm font-medium text-gray-700 label-required" for="username">Tên đăng nhập</label>
        <input
          #usernameRef="ngModel"
          [(ngModel)]="username"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          id="username"
          minlength="8"
          name="username"
          placeholder="Nhập tên đăng nhập"
          required
          type="text"
        />
        <div *ngIf="usernameRef.invalid && usernameRef.touched" class="text-red-600 text-sm mt-1 ">
          <div *ngIf="usernameRef.errors?.['required']">Vui lòng nhập tên đăng nhập để tiếp tục.</div>
          <div *ngIf="usernameRef.errors?.['minlength']">Tên đăng nhập phải có ít nhất 8 ký tự.</div>
        </div>
      </div>

      <!-- Email -->
      <div>
        <label class="block text-sm font-medium text-gray-700 label-required" for="email">Email</label>
        <input
          #emailRef="ngModel"
          [(ngModel)]="email"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          email
          id="email"
          name="email"
          placeholder="Nhập địa chỉ email"
          required
          type="email"
        />
        <div *ngIf="emailRef.invalid && emailRef.touched" class="text-red-600 text-sm mt-1">
          <div *ngIf="emailRef.errors?.['required']">Vui lòng nhập email để tiếp tục.</div>
          <div *ngIf="emailRef.errors?.['email']">Email không hợp lệ.</div>
        </div>
      </div>

      <!-- Mật khẩu -->
      <div>
        <label class="block text-sm font-medium text-gray-700 label-required" for="password">Mật khẩu</label>
        <input
          #passwordRef="ngModel"
          [(ngModel)]="password"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          id="password"
          minlength="8"
          name="password"
          placeholder="Tạo mật khẩu"
          required
          type="password"
        />
        <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-red-600 text-sm mt-1">
          <div *ngIf="passwordRef.errors?.['required']">Vui lòng nhập mật khẩu để tiếp tục.</div>
          <div *ngIf="passwordRef.errors?.['minlength']">Mật khẩu phải có ít nhất 8 ký tự.</div>
        </div>
      </div>

      <!-- Giới tính -->
      <div>
        <label class="block text-sm font-medium text-gray-700 label-required">Giới tính</label>
        <div class="mt-1 flex gap-4">
          <label class="inline-flex items-center">
            <input
              #genderRef="ngModel"
              [(ngModel)]="gender"
              [value]=Gender.NAM
              class="text-blue-600"
              name="gender"
              type="radio"
            />
            <span class="ml-2">Nam</span>
          </label>
          <label class="inline-flex items-center">
            <input
              [(ngModel)]="gender"
              [value]=Gender.NU
              class="text-blue-600"
              name="gender"
              required
              type="radio"
            />
            <span class="ml-2">Nữ</span>
          </label>

          <div *ngIf="genderRef.invalid && genderRef.touched" class="text-red-600 text-sm mt-1">
            Vui lòng chọn giới tính để tiếp tục.
          </div>
        </div>
      </div>

      <!-- Ngày sinh -->
      <div>
        <label class="block text-sm font-medium text-gray-700" for="dateOfBirth">Ngày sinh</label>
        <input
          #dateRef="ngModel"
          [(ngModel)]="dateOfBirth"
          [max]="today"
          class="mt-1 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full border border-gray-300 rounded-md"
          id="dateOfBirth"
          name="dateOfBirth"
          type="date"
        />
      </div>
      <!--avatar-->
      <div>
        <label class="block text-sm font-medium text-gray-700" for="avatar">Ảnh đại diện (tùy chọn)</label>
        <input
          (change)="onFileSelected($event)"
          [ngModel]="avatar"
          accept="image/*"
          class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-md cursor-pointer bg-white focus:outline-none"
          id="avatar"
          name="avatar"
          type="file"
        />

        <div *ngIf="avatarPreview" class="mt-2">
          <img [src]="avatarPreview" alt="Preview" class="h-20 rounded-full mx-auto"/>
        </div>

      </div>

      <!-- Nút đăng ký -->
      <button
        class="w-full bg-indigo-950 text-white font-semibold py-2 rounded-md hover:bg-indigo-800 transition duration-300"
        type="submit"
      >
        Đăng ký
      </button>

    </form>

    <p class="text-center text-gray-600 text-xs mt-5">
      Bằng cách tạo tài khoản, bạn đồng ý với<br/>
      <a class="text-blue-600 hover:underline" href="#">Điều khoản dịch vụ</a> và
      <a class="text-blue-600 hover:underline" href="#">Chính sách bảo mật</a>
    </p>

    <hr class="flex-grow my-6 border-gray-300"/>
    <span class="block text-gray-500 text-center">Hoặc đăng ký bằng:</span>

    <!-- Đăng ký mạng xã hội -->
    <div class="space-y-2 mt-5">
      <button
        class="flex items-center justify-center gap-2 border-gray-400 border w-full px-4 py-2 bg-white text-blue-700 font-semibold rounded-md hover:bg-gray-200 transition duration-300"
      >
        <img class="h-5 w-5" src="https://www.svgrepo.com/show/475656/google-color.svg"/>
        <span>Đăng ký bằng Google</span>
      </button>

      <button
        class="flex items-center justify-center gap-2 border-gray-400 border w-full px-4 py-2 bg-white text-blue-700 font-semibold rounded-md hover:bg-gray-200 transition duration-300"
      >
        <img class="h-5 w-5" src="https://www.svgrepo.com/show/303114/facebook-3-logo.svg"/>
        <span>Đăng ký bằng Facebook</span>
      </button>
    </div>
  </div>
</div>

<app-toast></app-toast>

