<div class="flex gap-6 w-full">
  <!-- Ảnh -->
  <div class="flex flex-col items-center gap-4 w-full">
    <!-- Ảnh lớn -->
    <div class="w-80 h-60">
      <img [src]="selectedImage" alt="Ảnh sản phẩm" class="w-full h-full object-contain rounded"/>
    </div>

    <!-- Danh sách ảnh nhỏ -->
    <div class="relative w-full">
      <!-- Nút trái -->
      <button
        (click)="scrollLeft()"
        class="absolute left-0 top-1/2 -translate-y-1/2 bg-orange-500 shadow rounded-full p-2 z-10 w-8 h-8 flex items-center justify-center"
      >
        <fa-icon [icon]="faArrowLeft" class="text-white"></fa-icon>
      </button>

      <div #scrollContainer class="flex gap-4 px-2">
        <div
          (click)="selectImage(i)"
          *ngFor="let img of product.imageUrls; let i = index"
          [ngClass]="{
            'border-orange-500': selectedImage === img,
            'border-gray-300': selectedImage !== img
          }"
          class="flex-shrink-0 w-20 h-20 p-1 border cursor-pointer"
        >
          <img [src]="img" class="w-full h-full object-contain"/>
        </div>
      </div>

      <!-- Nút phải -->
      <button
        (click)="scrollRight()"
        class="absolute right-0 top-1/2 -translate-y-1/2 bg-orange-500 shadow rounded-full p-2 z-10 w-8 h-8 flex items-center justify-center"
      >
        <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Thông tin sản phẩm -->
  <div class="flex flex-col gap-2 w-full">
    <div class="border-b border-gray-100 pb-3 gap-2">
      <div class="mt-2 flex items-center justify-between text-sm">
        <div class="flex items-center gap-1">
          <nz-rate
            [ngModel]="product.score"
            [nzDisabled]="true"
            nzAllowHalf>
          </nz-rate>
          <span>{{ product.user }} sao đánh giá</span>
          <span class="ml-1 text-gray-500 text-sm">({{ product.user }} phản hồi)</span>
        </div>
      </div>

      <p class="font-semibold text-2xl">{{ product.name }}</p>

      <div class="flex gap-32 text-sm items-center">
        <div class="flex flex-col gap-1">
          <span>Mã sản phẩm (SKU): {{ product.skuCode }}</span>
          <span>Thương hiệu: {{ product.brand.name }}</span>
        </div>
        <div class="flex flex-col gap-1">
          <span>Tồn kho: {{ product.quantity }}</span>
          <span>Danh mục: {{ product.categoryName }}</span>
        </div>
      </div>

      <p class="font-semibold text-2xl text-blue-500">
        {{ product.price | currency:'VND' }}
      </p>
    </div>

    <!-- Nút thao tác -->
    <div class="flex gap-3">
      <!-- Số lượng -->
      <div class="flex items-center border border-gray-100 rounded overflow-hidden w-1/4">
        <!-- Giảm -->
        <button (click)="decrease()" class="flex-1 hover:bg-gray-100 text-center p-2">
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>

        <!-- Hiển thị số lượng -->
        <span class="flex-1 text-center">{{ quantity }}</span>

        <!-- Tăng -->
        <button (click)="increase()" class="flex-1 hover:bg-gray-100 text-center p-2">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>

      <!-- Thêm vào giỏ -->
      <button
        class="flex gap-2 bg-orange-500 p-2 items-center justify-center rounded w-1/2 text-white font-semibold hover:bg-orange-600 transition">
        THÊM VÀO GIỎ
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>

      <!-- Mua ngay -->
      <button
        (click)="checkout()"
        class="p-2 w-1/4 text-orange-500 border border-orange-500 items-center justify-center rounded font-semibold hover:bg-orange-50 transition">
        MUA NGAY
      </button>
    </div>
  </div>
</div>
